<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单表</title>
</head>
<body>
<h1>我的订单</h1>
<a href="/index/">返回首页</a>

<table border="1px">
    <tr>
        <th>订单号</th>
        <th>收货信息</th>
        <th>状态</th>
        <th>实付款</th>
        <th>订单详情</th>
        <th>下单时间</th>
        <th>订单服务</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>tdx988453990003</td>
        <td>陈辉，13037788404，四川凉山彝族自治州冕宁县</td>
        <td>待发货</td>
        <td>114115.00</td>
        <td><a href="#">悬浮显示</a></td>
        <td>2023.8.14</td>
        <td>七天无理由，7天价保</td>
        <td>
            <a href="#">取消订单</a>
            <a href="#">退货退款</a>
        </td>
    </tr>
</table>
</body>
</html>