<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车页</title>
</head>
<body>
<h1>购物车</h1>
<a href="/index/">返回首页</a>

<table border="1px">
    <tr>
        <th>编号</th>
        <th>加入时间</th>
        <th>所属用户</th>
        <th>cpu</th>
        <th>显卡</th>
        <th>主板</th>
        <th>内存</th>
        <th>磁盘</th>
        <th>散热</th>
        <th>风扇</th>
        <th>电源</th>
        <th>机箱</th>
        <th>合计</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2023.8.15 9:24:31</td>
        <td>admin</td>
        <td>英特尔13900ks</td>
        <td>4090白猛禽</td>
        <td>华硕Z790</td>
        <td>赤峰32G*2</td>
        <td>2T固体+1T机械</td>
        <td>ROG龙神三代360一体式水冷</td>
        <td>联立积木风扇*12</td>
        <td>ROG1300瓦</td>
        <td>太阳神机箱（艾伦.耶格尔定制款）</td>
        <td>114115.0</td>
        <td><a href="#">删除</a></td>
        <td><a href="#">下单</a></td>
    </tr>
</table>
</body>
</html>